:root {
  --black: #332e3c;
  --orange: #f46036;
  --white: #fff;
  --blue: #403f4c;
}

/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto:wght@400;700&display=swap");


body {
  background-color: var(--blue);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: xx-large;
    margin-bottom: 3rem;
}

ul li {
  list-style: none;
  line-height: 3rem;
}

.list-svg {
  padding-right: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  /* background: transparent; */
}


.form-section {
  width: 50%;
  height: 50px;
  /* border: none; */
  /* border-radius: 20px; */
  color: var(--white);
  font-size: 25px;
}

.cta {
  font-size: 16px;
}

.illustration {
  width: 500px;
  height: 500px;
}

.attribution {
  margin-top: 25rem ;
}

.email-class {
  font-size: 13px;
}


 
#inputEmail, #submit-button{
  width: 30%;
  padding: 12px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
}

#submit-button {
  margin-top: 1.2rem;
}
